<div class="home-container">

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>7 jours de la semaine 08:00-20:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+216 722 00 00</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

 

 <div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <div class="slider-wrapper">
      <div class="slide active">
        <div class="img-fill item-1">
          <div class="text-content">
            <h6>we are ready to help you</h6>
            <h4>Adminisrative and Financial <br>director</h4>
            <p>Welcome to Monoprix Dashboard our Powerful Admin Panel for your Business.</p>
            <a routerLink="/login" class="filled-button">Login</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="img-fill item-2">
          <div class="text-content">
            <h6>welcome to our store</h6>
            <h4>Supplier Manager</h4>
            <p>Welcome to Monoprix Dashboard our Powerful Admin Panel for your Business.</p>
            <a routerLink="/login" class="filled-button">Login</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="img-fill item-3">
          <div class="text-content">
            <h6>we have a solid background</h6>
            <h4>Risk Manager</h4>
            <p>Welcome to Monoprix Dashboard our Powerful Admin Panel for your Business.</p>
            <a routerLink="/login" class="filled-button">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Welcome to Monoprix Dashboard our Powerful Admin Panel for your Business.</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

  
  </div>