.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  
  .iframe-container {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
  }
  
  .main-content {
    margin-left: 250px; /* same as sidebar width */
    width: calc(100% - 250px);
    padding: 20px;
    overflow-y: auto;
  }
  .nav-link {
    color: rgb(0, 0, 0) !important;
  }
  .nav-link p, .nav-link i {
    color: rgb(0, 0, 0) !important;
  }
  
  