<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://www.monoprix.fr" class="simple-text">
                    <div class="logo-img">
                        <img src="assets/img/monoprix-logo.png" alt="Monoprix Logo" style="height: 50px; width: 200px;" />
                    </div>
                </a>
            </div>
            <div class="search">
                <form class="navbar-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rechercher...">
                        <button type="submit" class="btn btn-white">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </form>
            </div>
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/financial">
                            <i class="material-icons">dashboard</i>
                            <p>Financial</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/overview">
                            <i class="material-icons">assessment</i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/supplier-financial">
                            <i class="material-icons">business</i>
                            <p>Supplier Financial</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
  
    <!-- Main Content -->
    <div class="main-content">
        <p>financial works!</p>
        <!-- Tu contenu principal va ici -->
    </div>
</div>
