<div class="sidebar glassmorphism">
  <div class="sidebar-wrapper">
    <!-- Logo section -->
    <div class="logo">
      <img src="assets/img/monoprix-logo.png" alt="Monoprix" class="logo-img" />
    </div>

    <!-- Navigation -->
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="menuItem.path">
          <span class="icon-container"><i class="material-icons">{{ menuItem.icon }}</i></span>
          <span class="nav-title">{{ menuItem.title }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>