<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">

    <!-- Header -->
    <div class="dashboard-header">
      <div class="waves-bg">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="header-content">
        <div class="header-title">
          <h1 *ngIf="role === 'DAF'">Tableau de décision DAF</h1>
          <h1 *ngIf="role === 'SUPPLIER'">Tableau de bord Fournisseur</h1>
          <h1 *ngIf="role === 'DEFAULT'">Dashboard Général</h1>
          <p class="subtitle">Bienvenue sur votre tableau de bord personnalisé</p>
        </div>
      </div>
    </div>

    <!-- Power BI iframe -->
    <div class="powerbi-wrapper">
     <iframe *ngIf="dashboardUrl"
        [src]="dashboardUrl | safeUrl"
        frameborder="0"
        allowFullScreen="true">
</iframe>

    </div>
  </div>
</div>
